---
"extends":
  - "eslint-config-defaults/configurations/walmart/es6-react"

"rules":
  "indent": [2, 2, {"SwitchCase": 1}]
  "max-len": 0
  "react/jsx-closing-bracket-location": [2, "after-props"]

"env":
  "browser": true,
  "node": true
